Source: python-schemathesis
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-setuptools,
 python3-all,
 python3-backoff (>= 2.1.2),
 python3-click (>= 7.0~),
 python3-colorama (>= 0.4~),
# python3-curlify,
 python3-hatchling,
 python3-harfile (>= 0.3.0),
 python3-httpx (>= 0.22.0),
 python3-hypothesis (>= 6.103.4),
 python3-hypothesis-jsonschema (>= 0.23.1),
 python3-pyrate-limiter (>= 2.10~),
 python3-pytest (>= 4.6.4),
 python3-pytest-subtests (>= 0.2.1),
 python3-requests (>= 2.22~),
 python3-starlette (>= 0.13~),
 python3-tomli (>= 2.0.1),
 python3-tomli-w (>= 1.0.0),
 python3-typing-extensions,
 python3-werkzeug (>= 0.16.0),
 python3-yaml (>= 5.1),
 python3-yarl (>= 1.5),
 python3-aiohttp (>= 3.8.3) <!nocheck>,
 python3-fastapi (>= 0.86.0) <!nocheck>,
 python3-flask (>= 2.1.1) <!nocheck>,
 python3-hypothesis-openapi (>= 0.2~) <!nocheck>,
 python3-pydantic (>= 1.10.2) <!nocheck>,
 python3-pytest-asyncio (>= 0.18.0) <!nocheck>,
 python3-pytest-mock (>= 3.7.0) <!nocheck>,
 python3-pytest-httpserver (>= 1.0~) <!nocheck>,
 python3-pytest-xdist (>= 3~) <!nocheck>,
 python3-syrupy (>= 2~) <!nocheck>,
 python3-trustme (>= 0.9.0) <!nocheck>,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://schemathesis.readthedocs.io/
Vcs-Browser: https://github.com/schemathesis/schemathesis
Vcs-Git: https://github.com/schemathesis/schemathesis.git

Package: python3-schemathesis
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: API testing tool for Open API and GraphQL-based apps
 It reads the application schema and generates test cases, which will ensure
 that your application is compliant with its schema and never crashes.
 .
 The application under test could be written in any language; the only thing
 you need is a valid API schema in a supported format.
 .
 Simple to use and yet powerful to uncover hard-to-find errors thanks to the
 property-based testing approach backed by state-of-the-art Hypothesis library.
