Source: python-schemathesis
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-setuptools,
 python3-all,
 python3-aiohttp (>= 3.8.3) <!nocheck>,
 python3-backoff (>= 2.1.2),
 python3-click (>= 7.0),
 python3-colorama (>= 0.4),
 python3-curlify,
 python3-fastapi <!nocheck>,
 python3-flask <!nocheck>,
 python3-hypothesis (>= 6.31),
 python3-hypothesis-jsonschema,
 python3-hatchling,
 python3-pydantic <!nocheck>,
 python3-pyrate-limiter,
 python3-pytest <!nocheck>,
 python3-pytest-asyncio (>= 0.18.0) <!nocheck>,
 python3-pytest-httpserver <!nocheck>,
 python3-pytest-mock <!nocheck>,
 python3-pytest-subtests (>= 0.9.0) <!nocheck>,
 python3-pytest-xdist <!nocheck>,
 python3-requests,
 python3-starlette (>= 0.13),
 python3-tomli,
 python3-tomli-w,
 python3-trustme <!nocheck>,
 python3-typing-extensions,
 python3-werkzeug (>= 0.16.0),
 python3-yaml (>= 5.1),
 python3-yarl (>= 1.5),
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://schemathesis.readthedocs.io/
Vcs-Browser: https://github.com/schemathesis/schemathesis
Vcs-Git: https://github.com/schemathesis/schemathesis.git

Package: python3-schemathesis
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: API testing tool for Open API and GraphQL-based apps
 It reads the application schema and generates test cases, which will ensure
 that your application is compliant with its schema and never crashes.
 .
 The application under test could be written in any language; the only thing
 you need is a valid API schema in a supported format.
 .
 Simple to use and yet powerful to uncover hard-to-find errors thanks to the
 property-based testing approach backed by state-of-the-art Hypothesis library.
